*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F0414D;
}
#container{
    background-color: #67FFE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}
#display{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFE873;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 15px;
    padding: 2rem;
}

#draw{
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    padding: .5rem;
    border-radius: 10px;
}
#greeting{
    display: none;
    
}
h1{
    font-size: 50px;
    font-weight: 400;
    margin: 1rem;
}